<h1>Upcoming Activities</h1>

<div class="row">
  <!-- Loop over each object in the projects array -->
  {{#each activities as |activity|}}
    <div class="card column col-3 m-2 p-1">
      <img src="{{activity.image}}" class="card-img-top" alt="activity image"/>
      <div class="card-body">
        <a href="/activity/{{activity.id}}">
          <h3 class="card-title"> {{activity.title}}</h3>
        </a>

        <p class="card-text">Description: {{activity.description}} </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: {{activity.location}}</li>
        <li class="list-group-item">When:
          {{activity.activity_date}}
        </li>
        <li class="list-group-item">
          People Coming:
          {{#each activity.activity_attendances as |attendance|}}
            -{{attendance.name}}{{/each}}
          <button
            data-id={{activity.id}}
            id="attend"
            class="btn btn-primary"
          >Click to Attend</button>
        </li>
      </ul>
    </div>
  {{/each}}
</div>

<script src="/js/attend.js"></script>