<div class="row">
  <div class="col-auto">
    <h2>Welcome {{user.name}}!</h2><br />
  </div>
</div><br>
<div class="row">
  <div class="column col-12 col-md-6">

    <div class="activity-list">
      <h3>Your Activity:</h3>

      <h4>{{activity.title}}</h4>
      <h5> {{activity.activity_date}}, {{activity.time}} </h5>
      <p> {{activity.description}} </p>
      <p> {{activity.location}} </p>
      <p>
        People Coming:
        {{#each activity.activity_attendances as |attendance|}}

          {{attendance.name}}
        {{/each}}</p>

    </div>
  </div>
  <div class="column col-12 col-md-6">
    <img href="/activity/{{activity.id}}" src="{{activity.image}}" class="card-img-top" alt="activity image"/>
  </div>

</div>